body {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: rgb(176, 146, 241);
    ;
    font-size: 3em;
}

table {
    margin: 25px auto;
    border: 1px solid gray;
    color: black;
    background-color: la;
}

td {
    border: 1px solid gray;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    transition: background-color 0.5s ease-in-out;
}

td:hover {
    background-color: rgb(163, 163, 245);
}

td.revealed:hover {
    background-color: lavender;
    transition: none;
}

td.mine:hover {
    background-color: rgb(108, 70, 155);
    transition: none;
}

td.flagged:hover {
    background-color: lightpink;
    transition: none;
}

.cell {
    text-align: center;
    font-size: 1em;
}

.covered {
    background-color: lightgray;
    color: transparent;
    cursor: pointer;
}

.revealed {
    background-color: lavender;
}

.flagged {
    background-color: lightpink;
}

.mine {
    background-color: rgb(108, 70, 155);

}



button {
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.smiley-btn {
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    background-color: rgb(201, 187, 228);
    border-radius: 5px;
    border: 0px;
}

.smiley-btn:hover{
    background-color: rgb(163, 163, 245);
}

.difficulty {
    /* width: 300px; */
    /* margin: auto; */
    margin-top: 5px;
    padding: 10px;
    background-color: lavender;
    /* border-radius: 20px; */
    border: 0px;
    font-size: 15px;
    /* border: 1px solid black; */
}

.difficulty span{
    margin-right: 7px;
}

.btn-diff {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    background-color: rgb(201, 187, 228);
    border: 0px;
    margin-right: 3px;
}

.btn-diff:hover{
    background-color: rgb(163, 163, 245);
}